.dropdown
  <!-- Link or button to toggle dropdown -->
  %ul.dropdown-menu{:role => "menu", :aria-labelledby => "dLabel"}
    %li
			%a{:tabindex => "-1", :href => "#"} ${1:Action}
    %li
			%a{:tabindex => "-1", :href => "#"} ${2:Another action}
    %li
			%a{:tabindex => "-1", :href => "#"} ${3:Something else here}
    %li.divider
    %li
			%a{:tabindex => "-1", :href => "#"} ${4:Separated link}
