%form
  %fieldset
    %legend ${1:Legend}
    %label ${2:Label name}
    %input{:type => "text", :placeholder => "${3:Type something…}"}
    %span.help-block ${4:Example block-level help text here.}
    %label.checkbox
      %input{:type => "checkbox"} ${5:Check me out}
    %button.btn{:type => "submit"} ${6:Submit}
  

