%form.form-horizontal
  .control-group
    %label.control-label{:for => "inputEmail"} Email
    .controls
      %input#inputEmail{:type => "text", :placeholder => "Email"}
  .control-group
    %label.control-label{:for => "inputPassword"} Password
    .controls
      %input#inputPassword{:type => "password", :placeholder => "Password"}
  .control-group
    .controls
      %label.checkbox
        %input{:type => "checkbox"} Remember me
      %button.btn{:type => "submit"} Sign in
