%form.form-inline
  %input.input-small{:type => "text", :placeholder => "${1:Email}"}
  %input.input-small{:type => "password", :placeholder => "${2:Password}"}
  %label.checkbox
    %input{:type => "checkbox"} ${3:Remember me}
  %button.btn{:type => "submit"} ${4:Sign in}
