.navbar
  .navbar-inner
    %a.brand{:href => "#"} ${1:Title}
    %ul.nav
      %li.active
				%a{:href => "#"} ${2:Home}
      %li
				%a{:href => "#"} ${3:Link}
      %li
				%a{:href => "#"} ${4:Link}
