<ul class="breadcrumb">
  <li><a href="${1:#}">${2:Home}</a> <span class="divider">/</span></li>
  <li><a href="${3:#}">${4:Library}</a> <span class="divider">/</span></li>
  <li class="active">${5:Data}</li>
</ul>
