<div class="btn-group">
  <button class="btn">${1:Action}</button>
  <button class="btn dropdown-toggle" data-toggle="dropdown">
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    ${2:<!-- dropdown menu links -->}
  </ul>
</div>
