<div class="btn-group">
  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
    ${1:Action}
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    ${2:<!-- dropdown menu links -->}
  </ul>
</div>
