<form class="form-inline">
  <input type="text" class="input-small" placeholder="${1:Email}">
  <input type="password" class="input-small" placeholder="${2:Password}">
  <label class="checkbox">
    <input type="checkbox"> ${3:Remember me}
  </label>
  <button type="submit" class="btn">${4:Sign in}</button>
</form>
