<form>
  <fieldset>
    <legend>${1:Legend}</legend>
    <label>${2:Label name}</label>
    <input type="text" placeholder="${3:Type something…}">
    <span class="help-block">${4:Example block-level help text here.}</span>
    <label class="checkbox">
      <input type="checkbox"> ${5:Check me out}
    </label>
    <button type="submit" class="btn">${6:Submit}</button>
  </fieldset>
</form>
