<div class="input-append">
  <input class="span2" id="appendedDropdownButton" type="text">
  <div class="btn-group">
    <button class="btn dropdown-toggle" data-toggle="dropdown">
      ${1:Action}
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      ${2:...}
    </ul>
  </div>
</div>
