<ul class="media-list">
  <li class="media">
    <a class="pull-left" href="#">
      <img class="media-object" src="${1:image.jpg}">
    </a>
    <div class="media-body">
      <h4 class="media-heading">Media heading</h4>
      ${2:...}

      <!-- Nested media object -->
      <div class="media">
        ${3:...}
      </div>
    </div>
  </li>
</ul>
