<ul class="nav nav-list">
  <li class="nav-header">${1:List header}</li>
  <li class="active"><a href="#">${2:Home}</a></li>
  <li><a href="#">${3:Library}</a></li>
	<li class="divider"></li>
  ${4:...}
</ul>
