<ul class="nav nav-pills">
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        ${1:Dropdown}
        <b class="caret"></b>
      </a>
    <ul class="dropdown-menu">
      ${2:<!-- links -->}
    </ul>
  </li>
</ul>
