<div class="progress">
  <div class="bar bar-success" style="width: ${1:35}%;"></div>
  <div class="bar bar-warning" style="width: ${2:20}%;"></div>
  <div class="bar bar-danger" style="width: ${3:10}%;"></div>
</div>
