<ul class="thumbnails">
  <li class="span4">
    <div class="thumbnail">
      <img src="${1:image.jpg}" alt="">
      <h3>${2:Thumbnail label}</h3>
      <p>${3:Thumbnail caption...}</p>
    </div>
  </li>
  ${4:...}
</ul>
